<div class="widget">
  <div
    class="draggable-item"
    [gConfig]="{
      widgetId: 'widget1',
      componentName: 'DummyComponent',
      componentHeight: 100,
      componentWidth: 100,
      dragImage: 'assets/image1.jpg'
    }"
    gDraggable
  ></div>
  <div
    class="draggable-item item2"
    [gConfig]="{
      widgetId: 'widget2',
      componentName: 'DummyComponent',
      componentHeight: 100,
      componentWidth: 100,
      dragImage: 'assets/image1.jpg'
    }"
    gDraggable
  ></div>
  <div
    class="draggable-item item3"
    [gConfig]="{
      widgetId: 'widget2',
      componentName: 'DummyComponent',
      componentHeight: 100,
      componentWidth: 100,
      dragImage: 'assets/image1.jpg'
    }"
    gDraggable
  ></div>
</div>

<g-drop-zone
  *ngIf="state"
  class="drop-zone"
  [state]="state"
  (update)="stateUpdate($event)"
></g-drop-zone>
